{{ partial "header" . }}

<main>
  <!-- {{ partial "list-item" . }} -->

  <br />
  <div class="text-justify">{{ .Content }}</div>

  <!-- related posts with the same tags -->
  {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

  {{ if $related }}

  <h4 class="page-header">Related</h4>

  {{ range $related }} {{ partial "list-item" . }} {{ end }}

  {{ end }}

  {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

  <!-- <h4 class="page-header">Comments</h4> -->

  <!-- {{ template "_internal/disqus.html" . }} -->
  {{ partial "socialshare.html" . }}
  {{ end }}
</main>
<div class="Comments">
  <!-- <h4>Comments</h4>
  <script src="https://utteranc.es/client.js" repo="4M01/blog" issue-term="title" theme="github-light"
    crossorigin="anonymous" async>
  </script> -->
  <div class="fb-comments" data-href={{ .Page.Permalink }}
  data-width="" data-numposts="5"></div>
</div>


{{ partial "footer.html" . }}