{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <!-- <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2> -->

        <p style="text-align: left;">
            Hello there,</p>
        <p style="text-align: justify; padding-left: 19px;"> Thank you for visiting my space😊</p>
        <p style="text-align: justify; padding-left: 20px;"></p>
        My name is Amol Chavan. I occasionally write here about my loosely held strong opinions. My <a href="/post/">
            writing</a> and
        most
        of my thoughts are about software testing, start-ups, work-life balance and thinking.
        I also like to read about latest tech, blogs and many random stuff. If you have any feedback, please feel to
        drop me a line.
        </p>

    </div>

</main>

{{ partial "footer" . }}